<div class="container">
  <h2>投稿したユーザー</h2>
  <p><%= image_tag @post.user.get_profile_image(100,100) %><%= link_to @post.user.name, user_path(@post.user) %></p>
  <h2><%= @post.title %></h2>
  <h2>Genres:</h2>
  <div class="row">
  <% @post.genres.each_slice(5) do |genres| %>
    <div class="col-md-3">
      <% genres.each do |genre| %>
        <ul>
          <li>
            <% if genre.genre_image.attached? %>
              <%= image_tag genre.genre_image.variant(resize_to_limit: [100, 100]) %><br>
            <% else %>
              <p>No Image Available</p>
            <% end %>
            <%= genre.name %>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
  <p>
  <%= image_tag @post.image.variant(resize_to_limit: [600, 600]) if @post.image.attached? %>
  </p>
  <h2>本文</h2>
  <p><%= @post.body %></p>
  <h2>投稿日</h2>
  <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(@post.id)%>
  <% end %>
  
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>

  <div>
    <p>コメント件数：<%= @post.post_comments.where(parent_id: nil).count %></p>
    <% @post.post_comments.where(parent_id: nil).each do |post_comment| %>
      <div style="margin-bottom: 20px;">
        <p><%= image_tag post_comment.user.get_profile_image(50,50) %><%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
        <p><%= post_comment.comment %></p>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
        <% end %>

        <!-- 返信を表示 -->
        <div style="margin-left: 20px;">
          <% post_comment.replies.each do |reply| %>
            <p><%= image_tag reply.user.get_profile_image(30,30) %><%= reply.user.name %>
            <%= reply.created_at.strftime('%Y/%m/%d') %></p>
            <p><%= reply.comment %></p>
            <% if reply.user == current_user %>
              <%= link_to "削除", post_post_comment_path(reply.post, reply), method: :delete %>
            <% end %>
          <% end %>
        </div>

        <% unless current_user && current_user.guest_user? %>
          <!-- 返信フォーム -->
          <%= form_with(model: [@post, @post.post_comments.new], local: true) do |f| %>
            <%= f.hidden_field :parent_id, value: post_comment.id %>
            <%= f.text_area :comment, rows: '3', placeholder: "返信をここに" %>
            <%= f.submit "返信する" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <% unless current_user && current_user.guest_user? %>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    <% else %>
      <p>コメントを行うには、<%= link_to '会員登録', destroy_user_session_path, method: :delete %>が必要です。</p>
    <% end %>
  </div>
</div>