<div class="container" style="margin-top: 50px;">
  <h1 class="text-center">アイドルの編集</h1>

  <%= form_with(model: [:admin, @genre], local: true, multipart: true) do |form| %>
    <% if @genre.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2 class="text-center"><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group text-center">
      <%= form.label :name, "アイドルの名前" %>
      <%= form.text_field :name, class: 'form-control mx-auto', style: "max-width: 400px;" %>
    </div>

    <div class="form-group text-center">
      <%= form.label :genre_image, "アイドルの画像" %>
      <%= form.file_field :genre_image, class: 'form-control-file mx-auto', style: "max-width: 400px;" %>
    </div>

    <div class="form-group text-center">
      <%= form.label :body, "アイドルの説明" %>
      <%= form.text_area :body, class: 'form-control mx-auto', style: "max-width: 600px;", rows: 10, cols: 50 %>
    </div>

    <div class="form-group">
      <h2 class="text-center">アイドルのステータス</h2>
      <br>
      <p class="text-center">ステータスとレッスンボーナスの初期値</p>
      <div class="form-row text-center justify-content-center">
        <div class="col-md-2">
          <%= form.label :HP, "HP" %>
          <%= form.number_field :HP, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :Vo, "Vo" %>
          <%= form.number_field :Vo, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :Da, "Da" %>
          <%= form.number_field :Da, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :Vi, "Vi" %>
          <%= form.number_field :Vi, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
      </div>
      
      <div class="form-row text-center justify-content-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <%= form.label :Vo_percent, "Vo%" %>
          <%= form.number_field :Vo_percent, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :Da_percent, "Da%" %>
          <%= form.number_field :Da_percent, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :Vi_percent, "Vi%" %>
          <%= form.number_field :Vi_percent, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
      </div>
      <br>
      <br>

      <p class="text-center">最大特訓時のステータスとレッスンボーナスの初期値</p>
      <div class="form-row text-center justify-content-center">
        <div class="col-md-2">
          <%= form.label :super_HP, "HP" %>
          <%= form.number_field :super_HP, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :super_Vo, "Vo" %>
          <%= form.number_field :super_Vo, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :super_Da, "Da" %>
          <%= form.number_field :super_Da, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :super_Vi, "Vi" %>
          <%= form.number_field :super_Vi, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
      </div>

      <div class="form-row text-center justify-content-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <%= form.label :super_Vo_percent, "Vo%" %>
          <%= form.number_field :super_Vo_percent, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :super_Da_percent, "Da%" %>
          <%= form.number_field :super_Da_percent, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
        <div class="col-md-2">
          <%= form.label :super_Vi_percent, "Vi%" %>
          <%= form.number_field :super_Vi_percent, class: 'form-control mx-auto', style: "max-width: 100px;" %>
        </div>
      </div>
    </div>

    <div class="form-group text-center">
      <%= form.submit "アイドルの更新", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="text-center">
    <%= link_to 'ジャンル詳細に戻る', admin_genre_path(@genre), class: 'btn btn-secondary' %> |
    <%= link_to 'ジャンル一覧に戻る', admin_genres_path, class: 'btn btn-secondary' %>
  </div>
</div>
