<h1>New Genre</h1>

<%= form_with(model: [:admin, @genre], local: true, multipart: true) do |form| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :body, "Description" %><br>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :genre_image, "Upload Genre Image" %><br>
    <%= form.file_field :genre_image %>
  </div>

  <div class="actions">
    <%= form.submit "Create Genre" %>
  </div>
<% end %>

<%= link_to 'Back', admin_genres_path %>
