<!DOCTYPE html>
<html>
  <head>
    <title>TeikokuIdolLegendGathering</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>帝国アイドルレジェンドプロデューサーの集い</h1>
    <% if current_user %>
      <%= image_tag current_user.get_profile_image(50, 50) %><%= current_user.name %>
    <% end %>
    <%= render 'layouts/header' %>
      <main>
        <%= yield %>
      </main>
  </body>
</html>
